[Unit]
Description=Clash - A rule-based tunnel in Go
Documentation=https://github.com/Dreamacro/clash/wiki

[Service]
OOMScoreAdjust=-1000
ExecStart=/usr/local/bin/clash -d /.config/clash/
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

