<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>087576B7-A696-45D3-BDBD-D7FB6AE55919</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>xhs</string>
			<key>text</key>
			<string>在小红书搜索 '{query}'</string>
			<key>url</key>
			<string>https://www.xiaohongshu.com/search_result?keyword={query}&amp;source=web_explore_feed</string>
		</dict>
		<key>98E86283-BEB5-4940-8FD7-F6E24B08FAEC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>scholar</string>
			<key>text</key>
			<string>Search Goolge Scholar for '{query}'</string>
			<key>url</key>
			<string>https://scholar.google.com/scholar?q={query}</string>
		</dict>
		<key>C14CCD31-440F-4155-B8CD-22EEEB669890</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zhihu</string>
			<key>text</key>
			<string>在知乎搜索 '{query}'</string>
			<key>url</key>
			<string>https://www.zhihu.com/search?type=content&amp;q={query}</string>
		</dict>
	</dict>
</dict>
</plist>
